@font-face {
    font-family: 'WenYue-ShengHuoJiaTi-J';
    src: url('WenYue-ShengHuoJiaTi-J.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura-Medium-6';
    src: url('Futura-Medium-6.woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 1px;
    /* text-transform: uppercase; */
}
:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
body {
    color:#FFF;
    word-break:break-all;
    font-family: Futura-Medium-6,WenYue-ShengHuoJiaTi-J,-apple-system,BlinkMacSystemFont,PingFang-SC-Regular,Hiragino Sans GB,Microsoft Yahei,Arial,sans-serif;
    font-size: 16px;
    overflow: scroll;
    background: #131417;
}
body::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    background: #000000 url(colorfull.jpg);
    background-attachment: fixed;
    background-position: 60%;
    background-size: cover;
}
#sticky-header {
    /*background: #99E640;*/
}
#sticky-header div {
    padding: 20px 10px;
    width: 980px;
    margin: 0 auto;
}
#sticky-header img {
    width: 150px;
    position: relative;
}
#sticky-header div a {
    text-decoration: none;
    font-size: 1.6em;
    color: #fff;
    position: relative;
    z-index: 1;
    font-size: .6em;
    left: 20px;
}
#sticky-header div a::Before {
    content: '';
    background: #000;
    position: absolute;
    top: -14px;
    bottom: -14px;
    left: -20px;
    right: -20px;
    margin: 0;
    z-index: -1;
    border-radius: 20px;
}
/*
header#sticky-header div a::Before {
    content: '';
    background: #000;
    position: absolute;
    top: -8px;
    bottom: -8px;
    left: -14px;
    right: -14px;
    margin: 0;
    z-index: -1;
}
header#sticky-header div a::after {
    content: '';
    background: #000;
    position: absolute;
    top: -12px;
    bottom: -12px;
    left: -10px;
    right: -10px;
    z-index: -1;
}*/
.filter-menu.text-center.mb-40 {
    text-align: center;
    padding: 10px 0 30px 0;
    /*margin-bottom: 50px;*/
    position: relative;
}
/*
.filter-menu::after {
    content: '';
    background: #99e640;
    position: absolute;
    top: -12px;
    bottom: -12px;
    left: -10px;
    right: -10px;
    z-index: -1;
}*/
.filter-menu.text-center.mb-40 p {
    margin: 20px 0;
    font-size: 1.5em;
    line-height: 42px;
    letter-spacing: 1px;
    text-shadow: #00000069 0.1em 0.1em 0.1em;
}
.basic-portfolio-area.ptb-10 {
    width: 980px;
    margin: 0 auto;
    padding: 0 10px;
    /* border: 0; */
}

/*textarea#chat-gpt-input,textarea#chatgpt-response {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    border-radius: 10px;*/
/*    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;*/
/*    font-size: 1.2em;*/
/*    border: 0;*/
/*    background: #222;*/
/*    color: #fff;*/
/*    opacity: .9;*/
/*}*/


button.btn.btn-large {
    background: #9c27b0;
    border: 0;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 10px;
    margin: 10px 0 13px 0;
    float: right;
    font-family: WenYue-ShengHuoJiaTi-J;
    color: #FFF;
}
button.btn.btn-large:hover {
    background: #9c27b0;
    color: #FFF;
}
input:focus, textarea:focus {
    border-color: #39C;
    background: #FFF;
    color: #123;
}
::-webkit-scrollbar {
    height: 4px;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    transition: all 0.25s ease 0s;
    background: #99e640;
    background-size: 100% 100%;
}
::-webkit-scrollbar-thumb:hover {
    height: 6px;
    width: 6px;
    transition: all 0.25s ease 0s;
}
::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {
    background: transparent;
}
::selection {
    background: #99e640;
    color: #000;
}
::-moz-selection {
    background: #99e640;
    color: #000;
}
::-webkit-selection {
    background: #99e640;
    color: #000;
}

@media screen and (max-width: 768px) {
    header#sticky-header div {
        width: auto;
        text-align: center;
    }
    header#sticky-header div a {
        left: 0;
    }
    .basic-portfolio-area.ptb-10 {
        width: auto;
    }
    textarea#chatgpt-response {
        margin-bottom: 30px;
    }
    .filter-menu.text-center.mb-40 {
        padding: 0;
    }
    .filter-menu.text-center.mb-40 p, textarea#chat-gpt-input, textarea#chatgpt-response, button.btn.btn-large {
        font-size: 1em;
    }
    .filter-menu.text-center.mb-40 p {
        line-height: 30px;
        margin-top: 0;
    }
}